<!--
<h1>Dashboard#index</h1>
<p>Find me in app/views/dashboard/index.html.erb</p>
-->
<h1>Dashboard</h1>
<p>Hello <%= @name %>!</p>
<% if @greeting_visible %>
  <p>Welcome to your dashboard</p>
<% end %>