<h1>Show Particular Special Day</h1>
<p><%= @special_day %></p>

<% if not @special_day.comments.empty? %>
  <p>Comments:</p>
  <ul>
    <% @special_day.comments.each do |c| %>
      <li><%= c.content %></li>
    <% end %>
  </ul>
<% end %>